{% extends "block.html.twig" %}
{#
/**
 * @file
 * Olivero's theme implementation for Powered by Drupal block.
 *
 * The Powered by Drupal block is an optional link to the home page of the
 * Drupal project.
 *
 */
#}
{% block content %}
  {{ attach_library('olivero/powered-by-block') }}
  <span>
    {{ 'Code with <3 by Dio' }}
  </span> 
{% endblock %}
